# Logs
logs
*.log
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/



# Dependency directories
node_modules/
.env
lib
/.idea
/.idea/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

package-lock.json
.eslintrc.js