# Logs
logs
*.log
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/



# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
/.idea
/.idea/*
